width {
  width: 18rem;
}
body
{
  background-color: #000;
  color: #fff;
}
h1{
  color:white;
}
.border-3 {
  border-width:8px !important;
}
.navbar-custom {
  background-color: #191633;
}

.DD {
  background-image: url(../components/DD.jpg);
}

.textcolor {
  color: aliceblue;
}

span#et-info-phone:before { 
  font-family: FontAwesome !important;
  content: '10b' !important;
}

.circle {
  position: relative;
  text-align: center;
}
.circle strong {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
}
.list-group-item{
  cursor: pointer;
  background-color: #191633;
  border-bottom: 2px solid white;
}
.list-group-item-warning{
  background-color: rgba(255,165,0, 0.7);
  color: white;
}
.list-group-item-danger{
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
}
.list-group-item-primary{
  background-color: rgba(0, 255, 255, 0.7);
  color: white;
}
.panel-title{
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;  
  padding: 5%;
  margin-top: 2%;
}
.small-width{
  width: 90%;
}
.space{
  padding: 5%;
}
.left-space{
  padding-left: 5%;
}
.panel-group{
  width: 90%;
}
.left{
  float:left;
}
.text-left{
  margin-left: 0;
}
.right{
  float: right;
}